@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-image: linear-gradient(to bottom, #644fe9, #7c69ef, #9283f4, #a89df8, #beb6fb);
}

#contador {
    font-size: 130px;
    font-weight: 600;
    color: #fff;
}

.wrapper-container-timer{
    display: grid;
    place-content: center;
    height: 90%;
}

.container-modes{
    display: flex;
    justify-content: space-between;
    max-width: 650px;
}

.btn-mode{
    background-color: #fff;
    color: #644FE9;
    border: 2px solid #644FE9;
    outline: none;
    font-weight: 600;
    box-shadow: 0 5px 12px 0px #644FE9;
    padding: 1em 2em;
    border-radius: 15px;
    cursor: pointer;
    font-size: 15px;
}

.focus{
    background-color: #644FE9;
    color: #fff;
    border: 2px solid #fff;
    outline: none;
    font-weight: 600;
    box-shadow: 0 0px 7px#fff;
}

.show{
    display: block;
}

.hide{
    display: none;
}

.container{
    display: flex;
}

.container-timer{
    display: grid;
    place-content: center;
    width: 361px;
    /*grid-template-rows: 196px 1fr;*/
}

.container-img{
    margin-left: -50px;
}

.container-timer-buttons{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.container-timer-buttons button {
    font-size: 40px;
    justify-content: center;
    color: #fff;
    cursor: pointer;
    background: none;
    border: none;
}